body {
    background: linear-gradient(
        to bottom,
        #a62222 0%,
        #a62222 20%,
        #d9d9d9 20%,
        #d9d9d9 80%,
        #a62222 80%,
        #a62222 100%
    );
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: repeating-linear-gradient(
        0deg,
        transparent 0px,
        rgba(0, 0, 0, 0.1) 1px,
        transparent 2px
    );
    pointer-events: none;
    z-index: 1;
}

button {
    position: relative;
    background: linear-gradient(to bottom, #ff0000 50%, #ffffff 50%);
    border: 4px solid #000;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 6px #222;
    transition: all 0.15s ease-in-out;
    padding: 5px 15px;
}

/* Parte central (menor e mais equilibrada) */
button::before {
    content: 'GERAR';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    border: 3px solid #000;
    border-radius: 20px;
    width: 50px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.25);
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px #111;
    filter: brightness(1.05);
}

button:active {
    transform: translateY(3px);
    box-shadow: 0 3px #111;
    filter: brightness(0.95)
}

.team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

/* container dos pokémon de cada lado */
#left-teamlist div, #teamlist div {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

/* imagens laterais — um pouco menores */
#left-teamlist img, #teamlist img {
    width: 100px;
    height: 100px;
}

/* nomes — agora em preto */
#left-teamlist p, #teamlist p {
    font-family: 'Press Start 2P', cursive;
    font-size: 9px;
    color: black;
    text-transform: capitalize;
}

/* esquerda → imagem → nome */
#left-teamlist div {
    flex-direction: row;
    text-align: left;
}

/* direita → nome → imagem */
#teamlist div {
    flex-direction: row-reverse;
    text-align: right;
}
